<!-- This is the content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>


<!-- This is the content -->
 <div class="content">
    <div class="login-container">
    <form action="/account/register" method="post">
        <div class="form-group">
        <label for="account_firstname">First Name:</label>
        <input type="text" id="account_firstname" name="account_firstname" required>
        </div>
        <div class="form-group">
        <label for="account_lastname">Last Name:</label>
        <input type="text" id="account_lastname" name="account_lastname" required>
        </div>
        <div class="form-group">
        <label for="account_email">Email:</label>
        <input type="email" id="account_email" name="account_email" required>
        </div>
        <div class="form-group">
        <label for="account_password">Password:</label>
        <input type="password"
            id="account_password"
            name="account_password"
            required
            pattern="(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*]).{8,}"
            title="Password must be at least 8 characters long and include one uppercase letter, one number, and one special character (!@#$%^&*)">
        </div>
        <div class="form-group">
        <button idtype="submit">Register</button>
        </div>
        </form>
    </div>
</div>
    