:root {
  --primary-color: #222831;
  --secondary-color: #393e46;
  --third-color: #004299;
  --background-color: #ffffff;
  --font-family: 'roboto', 'opensans', 'sans-serif', 'Montserrat';
  --font-main: 'montserrat';
  --font-body: 'roboto';
  --font-size: 1rem;
  --font-size-large: 2rem;
  --font-size-small: 0.875rem;
  --border-radius: 5px;
  --box-shadow: 0 5px 30px black;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  background-color: var(--background-color);
  color: var(--primary-color);
  font-size: var(--font-size);
  line-height: 1.5;

}

main {

  padding: 20px;
  margin: 0 auto;

}


#background img {
  position: fixed;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  z-index: -1; 
  object-fit: cover; 
}

#wrapper {

  width: 100vw;      
  height: 100%;

 
  background-color: var(--background-color);
}

header {
  color: var(--primary-color);
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-main);
}

.siteName {
  font-size: var(--font-size);
  font-weight: 700;
  color: var(--third-color);
  

}
header a {
  text-decoration: none;
  color: var(--third-color);
}

header a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: var(--background-color);
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 95%;
  margin: 0 auto;
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  
  font-size: small;
}

nav li {
  list-style: none;
  margin: 0 10px;
}
nav li:hover {
  background-color: gray;
  color: var(--background-color);
  width: 100%;
  padding: 5px;
  
  border-radius: var(--border-radius);
}

nav a {
  text-decoration: none;
  color: var(--background-color);
}



h1 {
  font-size: x-large;
  
  text-align: center;
  margin: 20px auto;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  width: 95%;
}

#hero > img:first-child{
  width: 100vw;;
  height: auto;
  max-width: 800px;
  
}


#cover-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  margin: 0 auto;
  position: absolute;
  left: 5%;
  width: 30vw;
  height: 20vh;
  background-color: rgba(255, 253, 253, 0.9);
  
}

#cover-box h2{
  font-size: large;
  color: var(--third-color);
}

#cover-box ul  {

  padding: 0px;
  
  list-style-type: none;
  font-size: small;
}

#cover-box ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 0 auto;
  color: var(--third-color);

}

#cover-box a img {
  width: 50px;
  height: 25px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  opacity: 1;
}

#upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: small;
  
  
}

#upgrades > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

#upgrades img {
  display: block;

}

.img-bx {
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 15px;
  width: 32vw; 
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#inv-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 25px;
}

#inv-display li {
  list-style: none;
  margin: 0 auto;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);

}



.namePrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  
}

.namePrice hr {
  width: 100%;
  height: 1px;
  background-color: black;
  border: none;
}


#detail-display {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  gap: 25px;
}

#detail-display img {
  width: auto;
  height: 200px;
  max-width: 250px;

  object-fit: scale-down;
}

.detailSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  
}

.detailSection > :not(h2) {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
}

.detailSection > span:nth-child(even) {
    background-color: rgb(230, 230, 230);
}


.content {
    display: grid;
  place-items: center;
  
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  gap: 25px;
  background-color: var(--primary-color);
   color: white;
   border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-width: 375px;

}



.form-group {
 
  display: flex;
  flex-direction: column;

  margin: 20px;
  padding: 10px;
  
}


.form-group a{
 
  text-decoration: none;
  color: white;
  font-weight: bold;
  
}

.form-group a:hover {

  text-decoration: underline;
}

.content form {
  width: 100%;
 
 
}