<!-- This is the content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>
<%- grid %>
<h2>Manage Inventory</h2>


<form id="classificationForm">
  <label for="classificationList">Select a classification:</label>

    <%- classificationSelect %>

</form>
<table id="inventoryDisplay"></table>
<div id="inventoryDisplay"></div>




<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="../../js/inventory.js"></script>