<!-- This is the content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<h2>Manage Inventory</h2>
<table id="inventoryDisplay"></table>

<form id="classificationForm">
  <label for="classificationList">Select a classification:</label>

    <%- classificationSelect %>

</form>
<div id="inventoryDisplay"></div>


<%- grid %>

<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="../../js/inventory.js"></script>